  <div class = 'jumbotron landing container-fluid'>
    <div>
      <h1>{{title}}</h1>
      <p>Don't Go Alone.</p>
    </div>



    <form action="/sessions/login" method="post">
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email">
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="text" name="password">
      </div>

      <button class='btn btn-success'>Log In</button>
    </form>
    <form action="/users/signup" method="get">
      <button class='btn btn-danger'>Sign Up</button>
    </form>
  </div>
