<div class = 'jumbotron landing'>
      <img src="/images/logo.png" alt="">
      <br>
      <img src="/images/logo3.png" alt="">








    <form action="/sessions/login" method="post">
      <div class='landinguser'>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email">
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </div>

      <button class='btn btn-success'>Log In</button>
    </form>
    <form action="/users/signup" method="get">
      <button class='btn btn-danger'>Sign Up</button>
    </form>
  </div>
    <br>
    <br>
    <div class='jumbotron main-text'><p>Welcome to TeamFight, the tool made for gamers, by gamers. TeamFight is an application for users looking to group up with others in order to achieve various objectives, whether it's just a casual romp through game modes or recruiting for highly competitive tournaments.</p>

  </div>
</div>
