<form action="/users/{{user}}/lists/{{list.id}}?_method=PUT" method="POST">
	<div>
		<label for="name">Name: </label>
		<input type="text" name="name" value="{{list.name}}">
	</div>
	<div>
		<label for="completed">Completed: </label>
		<input type="text" name="completed" value="{{list.completed}}">
	</div>
	<div>
		<input type="submit" value="Update List">
	</div>
</form>
