<h2>Create TeamFight Account</h2>
<br>

<form action="/users" method="post">
  <div>
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
  </div>
  <br>
  <div>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name">
  </div>
  <br>
  <!-- <div>
    <label for="summoner_name">Battle.Net ID:</label>
    <input type="text" name="summoner_name">
  </div> -->
  
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email">
  </div>
  <br>
  <div>
  	<label for="username">Username:</label>
  	<input type="text" name="username">
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="text" name="password">
  </div>
  <br>
  <input type="submit" value="Create Account">
</form>
