<form action="/posts/{{posts.id}}?_method=PATCH" method="post">
	<div>
		<label for="description">Description: </label>
		<input type="text" name="description" value="{{posts.description}}">
	</div>
  <br>
	<div>
		<input type="submit" value="Update LFG">
	</div>
</form>
