<button><a href="/posts/new">New LFG</a></button>

<ul>
  {{#each posts}}
    <a href="/posts/{{this.id}}"><li> Game: {{ this.game }} </li>
    <li> Description: {{this.description}} </li>
    <li> Party Leader: {{ this.party_leader }}</li></a>
    <br>
  {{/each}}
</ul>
