<h2>Create New LFG</h2>

<form action="/posts" method="post">

  <div>
    <label for="looking_for">Environment:</label>
    <input type="text" name="looking_for">
  </div>
  <div>
    <label for="game">Game:</label>
    <input type="text" name="game">
  </div>
  <br>
  <div>
    <label for="description">Description:</label>
    <input type="text" name="description">
  </div>
 <br>
	<div>
    <label for="party_leader">Party Leader:</label>
    <input type="text" name="party_leader">
  </div>
  <br>
  <input type="submit" value="Create">
</form>
